<!DOCTYPE html>
<html>
  <head>
    <title>
      File Uploader Widget Flat Resposive Website Template :: w3layouts
    </title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!-- Button -->
    <link href="{% static 'style1.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/style_slider.css" />
    <!-- Button -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="keywords"
      content="File Uploader Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"
    />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <style>

    </style>
  </head>
  <body onload="slider()">
    <div class="banner">
      <div class="slider">
        <img src="images/doc_1.jpeg" id="slideImg" />
      </div>
      <div class="overlay">
        <h1>DIGITIZATION</h1>
        <div class="upload">
          <div class="login-form">
            <form
              id="upload"
              method="post"
              action="upload.php"
              enctype="multipart/form-data"
            >
              <div id="drop">
                <a>Upload File</a>
                <input type="file" name="upl" multiple />
              </div>

              <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

              <ul>
                <!-- The file uploads will be shown here -->
              </ul>
            </form>
          </div>

          <!-- JavaScript Includes -->
          <script src="js/jquery.knob.js"></script>
          <!-- JavaScript Includes -->

          <!-- jQuery File Upload Dependencies -->
          <script src="js/jquery.ui.widget.js"></script>
          <script src="js/jquery.iframe-transport.js"></script>
          <script src="js/jquery.fileupload.js"></script>
          <!-- jQuery File Upload Dependencies -->

          <!-- Main JavaScript file -->
          <script src="js/script.js"></script>
          <!-- Main JavaScript file -->
          <table cellspacing="40">
            <tr>
              <td>
                <button type="button" class="button1 btn1">
                  <span class="button1__text">Download</span>
                  <span class="button1__icon">
                    <ion-icon name="cloud-download-outline"></ion-icon>
                  </span>
                </button>
              </td>
              <td>
                <button type="button" class="button1 btn2">
                  <span class="button1__text">Save</span>
                  <span class="button1__icon">
                    <ion-icon name="bookmark-outline"></ion-icon>
                  </span>
                </button>
              </td>
              <td>
                <button type="button" class="button1 btn3">
                  <br />
                  <span class="button1__text">Convert</span>
                  <span class="button1__icon">
                    <ion-icon name="sync-outline"></ion-icon>
                  </span>
                </button>
              </td>
            </tr>
          </table>
          <div class="button">
            <div class="cancel"><a href="index.html">Cancel</a></div>
            <div class="plag"><a href="#">Plagiarism</a></div>
            <div class="done"><a href="#">Done</a></div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <img src="images/doc2.jpg" />
    </div>
    <script>
      var slideImg = document.getElementById("slideImg");

      var images = new Array("images/doc_1.jpeg", "images/doc2.jpg");

      var len = images.length;
      var i = 0;

      function slider() {
        if (i > len - 1) {
          i = 0;
        }
        slideImg.src = images[i];
        i++;
        setTimeout("slider()", 3000);
      }
    </script>
  </body>
</html>