{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->

    <title>Digitize</title> -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DOCR</title>
	<link rel="stylesheet" href="bootstrap-4.1.3-dist/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	 <link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- <link rel="stylesheet" href="css/fixed.css"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.min.css' %}" media="all">
        <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/fixed.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
        <style>
          /* body{
            background-image: url('static/img/landing.jpg');
            background-size: cover;
            background-repeat: no-repeat ;
            
          } */
          .heading{
                font-family: 'Inconsolata', monospace;
                font-family: 'Passions Conflict', cursive;
                font-size: 70px;
                margin-top: 20px;
          }


        </style>
  </head>
  <!-- <body > -->
  <body data-spy="scroll" data-target="#navbarResponsive">
    <div id="home" >

      <!--Navigation-->
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarResponsive" >
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                        <a class="nav-link"  href="{% url 'logout' %}" onclick="logout()">Logout</a>
                        <!-- <form action="logout" method="post" class="nav-link">
                         {% csrf_token %}   
              <button class="nav-link" type="submit">LOG OUT</button>
                        </form> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#info">YOUR PDF's</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">PLAGIARISM REPORTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">CONTACT US</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="" class="offset" >
      <div class="fixed-background">
          <div class="row dark text-center">
              <div class="col-12">
                  <h1  class="heading"><b>Work with images</b></h1>
                  <div class="heading-underline"></div>
              </div>
              <div class="container">
                <div id="info" class="offset">
                  <div class="jumbotron" style="background-image:linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); background-size: cover;">
                    <div class="py-5 text-center bg-dark bg-gradient bg-opacity-25 text-white">
                      <h1 class="mb-3 " style="font-family: 'Inconsolata', monospace;">Upload image</h1>
                      <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" class="btn btn-info" value="Upload">
                      </form>
                    </div>
                    <div class="py-5 text-center">
                      <form action='vision' method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-secondary" value="Digitize" onclick="vision()">
                      </form>
                        <!-- <input type="button" class="btn btn-danger" value="Digitize" onclick="vision()"> -->
                        <input type="button" class="btn btn-secondary" value="Check plagiarism" onclick="sub()">
                        <!-- <form action="makepdf" method="post" enctype="multipart/form-data">
                          {% csrf_token %} -->
                          <!-- <button type="submit" class="btn btn-danger" value="Make PDFs">          </button> -->
                          <input type="button" class="btn btn-secondary" value="Make PDFs" onclick="window.open('makepdf')">
                        <!-- </form> -->
              
                    </div>
                    <div class="row" >
                      {% for x  in img %}
                      <div class="col sm-4">
                        <div class="card m-2">
                          <img src="{{x.photo.url}}" alt="" class="card-img-top" height="200px" width="200px"> 
              
                        </div>
              
                      </div>
                      {% endfor  %}
                    </div>
                  </div>
                </div>
              </div>
      
              
  
          </div><!---End Dark Row-->
          <div class="fixed-wrap">
              <div class="fixed">
              </div>
          </div>
      </div><!----End Fixed Background-->
  </div>
<!----End Landing Page Section-->
</div>


















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
