{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DOCR</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link rel="stylesheet" href="{% static 'style4.css' %}" />
	<link rel="stylesheet" href="{% static 'css/fixed.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/toastr.min.css' %}" media="all">
        <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>  
	
	<style>
		#area{
			background-color: white;
			height: 600px;
			width: 1000px;
			overflow: scroll;
			align-items: center;
			color: black;
			margin-left: 100px;
			background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

		}
		#area2{
			height: 600px;
			width: 5000px;
			align-items: center;
			color: black;
			overflow: hidden;
			margin-left: 100px;
			
			
			
		}

	</style>

</head>
<body>
   
	<div id="home">

		<!--Navigation-->
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		  <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" height="50px"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
						  <a class="nav-link"  href="{% url 'logout' %}" onclick="logout()">Logout</a>
						  <!-- <form action="logout" method="post" class="nav-link">
						   {% csrf_token %}   
				<button class="nav-link" type="submit">LOG OUT</button>
						  </form> -->
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#info">YOUR PDF's</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#features">PLAGIARISM REPORTS</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#contact">CONTACT US</a>
			  </li>
			</ul>
		  </div>
		</nav>
		<div class="landing">
			<div class="home-wrap">
				<div class="home-inner">
				</div>
			</div>
		</div>
		<div class="row">
		<div class="caption text-left" style="width: 50%; height: 50%; box-shadow: white; margin-left: 300px;">
			<div class="container" id="area" style="align-items: center;" >
			<p style="float: right; margin-top: 5px;">
				 <button class="btn" onclick="myFunction()" style="margin-top: 20px;">Copy text</button> 
			</p>
			<textarea id="myInput" id="area2" style="align-items: center; background-color:rgb(166, 246, 242);" cols="100" rows="20" >
			{% for message in container%}
			{{message}}
			{% endfor %}
			</textarea>
			</div>
		
			<div class="row" style="padding-left: 100px;">

			<div class="col"  style=" margin-top: 20px;" >
				<a class="btn btn-outline-light btn-lg" href="{% url 'saving_text' %}">SAVE IT IN A TEXT FILE</a>
			</div>
			<div class="col" style=" margin-top: 20px;">
				<a class="btn btn-outline-light btn-lg" href="{% url 'saving_pdf' %}">SAVE IT IN A PDF FILE</a>
			
			</div>
			<div class="col" style=" margin-top: 20px;">
				<a class="btn btn-outline-light btn-lg" href="{% url 'saving_doc' %}">SAVE IT IN A WORD FILE</a>
			</div>
			</div>
</div>
			
		</div>
		</div>
		<div>
			{% for message in messages %}
			{% if message.tags == 'success'%}
					<script type=text/javascript>toastr.success('{{ message }}')</script>
			{% elif message.tags == 'info' %}
					<script type=text/javascript>toastr.info('{{ message }}')</script>
			{% elif message.tags == 'warning' %}
					<script type=text/javascript>toastr.warning('{{ message }}')</script>
			{% elif message.tags == 'error' %}
					<script type=text/javascript>toastr.error('{{ message }}')</script>
			{% endif %}
			{% endfor %}
	</div>
	 
		<script type='text/javascript'>
			function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);
  
  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
		</script>
			

	
	

</body>